<?xml version="1.0"?>
<configuration>
  <location path="Cex">
    <system.web>
      <authorization>
        <allow roles="Работник цеха,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>  
  <location path="Produkt/ProduktE.aspx">
    <system.web>
      <authorization>
        <allow roles="Работник цеха,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>  
  <location path="CHek">
    <system.web>
      <authorization>
        <allow roles="Продавец,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TorgovayaTochka/TorgovayaTochkaE.aspx">
    <system.web>
      <authorization>
        <allow roles="Продавец,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TorgovayaTochka/TorgovayaTochkaL.aspx">
    <system.web>
      <authorization>
        <allow roles="Работник цеха,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
